<form action="/cocktails/search_by_name">
  <div class="form-group">
  <input class="form-control form-control-lg" type="text" name= "name" placeholder="Search By Name"> 
  </div>
 </form> 

<form action="/cocktails/search_by_liquor">
  <div class="form-group">
    <select class="form-control form-control-lg" name="liquor">
      <option selected>Search by Liqour</option>
      <option>Beer</option>
      <option>Champagne</option>
      <option>Gin</option>
      <option>Pisco</option>
      <option>Rum</option>
      <option>Tequila</option>
      <option>Vodka</option>
      <option>Whiskey</option>
      
    
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


