<form action="/cocktails/search_by_name">
  <div class="form-group">
  <input class="form-control form-control-lg" type="text" name= "name" placeholder="Search By Name"> 
  </div>
 </form> 

<form action="/cocktails/search_by_liquor">
  <div class="form-group">
    <select class="form-control form-control-lg" name="liquor">
      <option selected>Search by Liqour</option>
      <option>Beer</option>
      <option>Champagne</option>
      <option>Gin</option>
      <option>Mezcal</option>
      <option>Pisco</option>
      <option>Rum</option>
      <option>Scotch</option>
      <option>Tequila</option>
      <option>Vodka</option>
      <option>Whiskey</option>
      
    
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<main>
  <section class = "py-5 text-center container">
    <div class ="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class = fw-light> Find your next drink</h1>
        <p class = "lead text-muted">"lorem ipsum"
        </p>
        <p>
          <a href="#" class = "btn btn-primary my-2">Search by name</a>
          <a href="#" class = "btn btn-primary my-2">Search by ingredient</a>
        </p>
      </div>
    </div>
  </section>
</main>

