<main>
  <h1 class="text-center mb-5"> Submit a Recipe </h1>

  <form class="col-lg-6 offset-lg-3 " action="/cocktails" method="post">
    <div class="form-group">
      <label for="inputName">Cocktail Name</label>
      <input type="text" class="form-control" id="inputName" name="name" placeholder="Classic Margarita">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Image URL</label>
      <input type="text" class="form-control" id="inputImgUrl" name="image_url" placeholder= "https://www.example.jpg">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputMeasure1">Measurement</label>
        <input type="text" class="form-control" id="inputMeasure1" name="measure_1" placeholder="1 1/2 oz">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Ingredient</label>
        <input type="password" class="form-control" id="inputIngredient1" name="ingredient_1" placeholder="silver tequila">
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="inputMeasure2" name="measure_2"placeholder="1 oz">    
      </div>
      <div class="form-group col-md-6">
        <input type="password" class="form-control" id="inputIngredient2" name="ingredient_2" placeholder="orange liqueur">
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" id="inputMeasure3" name="measure_3" placeholder="3/4 oz">    
      </div>
      <div class="form-group col-md-6">
        <input type="password" class="form-control" id="inputIngredient3" name="ingredient_3" placeholder="lime juice">
      </div>
    </div>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</main>










