<main>
  <h1 class="text-center my-5"> Submit a Recipe </h1>

  <form class="col-lg-6 offset-lg-3" action="/cocktails" method="post">
    <div class="form-group">
      <label for="inputName">Cocktail Name</label>
      <input type="text" class="form-control" id="inputName" name="name" placeholder="Classic Margarita">
    </div>
    <div class="form-group">
      <label for="inputImgUrl">Image URL</label>
      <input type="text" class="form-control" id="inputImgUrl" name="image_url" placeholder= "https://www.example.jpg">
    </div>
    <div class="form-row row">
      <div class="form-group col-6">
        <label for="inputMeasure1">Measurement</label>
        <input type="text" class="form-control mt-1" id="inputMeasure1" name="measure1" placeholder="1 1/2 oz">
      </div>
      <div class="form-group col-6">
        <label for="inputIngredient1">Ingredient</label>
        <input type="text" class="form-control mt-1" id="inputIngredient1" name="ingredient1" placeholder="silver tequila">
      </div>
    </div>


    <div class="form-row row">
      <div class="form-group col-6">
        <input type="text" class="form-control mt-1" id="inputMeasure2" name="measure2"placeholder="1 oz">    
      </div>
      <div class="form-group col-6">
        <input type="text" class="form-control mt-1" id="inputIngredient2" name="ingredient2" placeholder="orange liqueur">
      </div>
    </div>


    <div class="form-row row">
      <div class="form-group col-6">
        <input type="text" class="form-control mt-1" id="inputMeasure3" name="measure3" placeholder="3/4 oz">    
      </div>
      <div class="form-group col-6">
        <input type="text" class="form-control mt-1" id="inputIngredient3" name="ingredient3" placeholder="lime juice">
      </div>
    </div>

    <div class="form-group">
    <label for="instructions">Instructions</label>
    <textarea class="form-control" id="instructions" rows="3" name="instructions" placeholder="Mix and serve!"></textarea>
  </div>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</main>










