
<main>
  <section class = "py-5 text-center container">
    <div class ="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class = fw-light> Find your next drink</h1>
        <p class="mt-5"> 
          <a class = "btn btn-primary my-2" id="search_by_name_btn">Search by name</a>
          <a class = "btn btn-outline-primary my-2" id="search_by_ingredient_btn">Search by ingredient</a>
        </p>
        <form id="search_form" action="/cocktails/search_by_name">
          <div class="form-group">
            <input type="text" class="form-control" id="search_input" name = "name" placeholder="Margarita">
          </div>
          <button type="submit" id="submit-btn" class="btn btn-primary mt-2">Submit</button>
        </form>
      </div>
    </div>
  </section>
</main>
