
<h1>Search Results</h1>

<ul >
  <% @cocktails.each do |cocktail| %>
    <li>
    <a href = "<%= cocktail_path(cocktail["idDrink"]) %>">
    <img src="<%= cocktail["strDrinkThumb"] %>" alt="cocktail image" width= "100" height = "100" >
    </a>
    <%= cocktail["strDrink"] %>
    </li>
  <% end %>
</ul>
