

</main>
<div class ="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
      <% @cocktails.each do |cocktail| %>
      <div class="col">
          <div class="card shadow-sm">
            <img class ="bd-placeholder-img card-img-top" width="100%" height ="100%" src="<%= cocktail["strDrinkThumb"] %>" aria-label="Placeholder: Thumbnail">
            <div class="card-body">
              <p class="card-text">
                <%= cocktail["strDrink"] %>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <input type="button" class="btn btn-sm btn-outline-secondary" onclick= "location.href = '<%= cocktail_path(cocktail["idDrink"]) %>';" value="View" />
                </div>
                <button type="button" class="btn">
                  <i class="bi bi-star"></i>
                </button>
              </div>
            </div>
          </div>

        </div>
        <% end %>
    </div>
  </div>
</div>
</main>


